@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-brand-900: #18181b;
  --color-brand-800: #27272a;
  --color-brand-100: #f4f4f5;
  --color-accent: #c8aa6e;
}

html {
  scroll-behavior: smooth;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
